@charset "utf-8";
/*全局*/
@font-face {
	font-family: shuzi_1;
	src: url(../fonts/num_1.ttf);
}
@font-face {
	font-family: shuzi_2;
	src: url(../fonts/num_2.ttf);
}
@font-face {
	font-family: shuzi_3;
	src: url(../fonts/num_3.ttf);
}
body {
	background-color: #F5F5F5;
	font-family: Arial;
	-webkit-text-size-adjust: 100%; /*关闭自动调整字体*/
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	font-size: 0.28rem;
	color: rgba(66,66,66,1.00);
}
* {
	-webkit-tap-highlight-color: transparent;
}
img {
	border: 0;
	vertical-align: top;
	width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	color: currentColor;
	display: block;
}
body, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, p {
	padding: 0;
	list-style-type: none;
	margin: 0;
	font-weight: normal;
	display: block;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	justify-content: space-between;
	align-items: center;
}
.flex-sz {
	display: flex !important;
	align-items: center;
}
.flex-szb {
	display: flex !important;
	align-items: center;
	justify-content: space-between;
}
.flex-sza {
	display: flex !important;
	align-items: center;
	justify-content: space-around;
}
.flex-hz {
	display: flex !important;
	justify-content: center;
}
.flex-sh {
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.fonts-sz1 {
	font-family: shuzi_1;
}
.wwei span {
	padding-left: 0.2rem;
}
.fonts-sz2 {
	font-family: shuzi_2;
}
.fonts-sz3 {
	font-family: shuzi_3;
}
input, textarea, select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.wzdh {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;/*-webkit-line-clamp:2;*/
}
.wzdh-m {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.font-s10 {
	font-size: 0.20rem;
}
.font-s12 {
	font-size: 0.24rem;
}
.font-s13 {
	font-size: 0.26rem;
}
.font-s14 {
	font-size: 0.28rem;
}
.font-s15 {
	font-size: 0.30rem;
}
.font-s16 {
	font-size: 0.32rem;
}
.font-s18 {
	font-size: 0.36rem;
}
.font-s20 {
	font-size: 0.40rem;
}
.font-s24 {
	font-size: 0.48rem;
}
.font-s30 {
	font-size: 0.6rem;
}
.col-0 {
	color: #FFFFFF !important;
}
.col-b1 {
	background-color: #FFFFFF !important;
}
.icon {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	position: relative;
	z-index: 20;
}
/*底部固定导航*/
footer:before {
	content: '';
	display: block;
	width: 100%;
	height: 1.1rem;
	background-color: transparent;
}
footer > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: 1px solid rgba(240,240,240,1.00);
	position: fixed;
	z-index: 999 !important;
	margin: 0 auto;
	color: rgba(114,106,107,1.00);
	background-color: rgba(255,255,255,1.00);
	height: 1rem;
}
footer>ul>li {
	text-align: center;
	width: 25%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	font-size: 0.2rem !important;
	color: rgba(51,49,46,1.00);
}
footer>ul>li>a {
	width: 100%;
}
.now-col {
	color: #FF4D51;
}
.now-col1 {
	color: #EC6825;
}

.menu-w {
	margin: 0 auto;
	width: 0.5rem;
}
.close {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0px;
	right: 0px;
	margin: auto;
	z-index: 666;
	bottom: 0px;
	display: none;
}
/*禁止滑动*/
.motionless {
	height: 100%;
	overflow: hidden;
}
/*弹窗*/
.pop-up {
	position: fixed;
	margin: auto;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.80);
	z-index: 999;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}
.pop-up-1 {
	width: 100%;
	position: relative;
	z-index: 100;
}
.pop-up-2 {
	text-align: center;
}
.pop-up-close {
	width: 0.6rem;
	height: 0.6rem;
}
.pop-up-time {
	position: absolute;
	top: 0.4rem;
	right: 0.4rem;
	color: rgba(255,255,255,1.00);
}
/*细线*/
.string {
	position: relative;
}
.string:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: rgba(240,240,240,1.00);
	transform: scaleY(0.5);
}
/*顶部标题*/
.distance_top {
	margin-top: 0.88rem;
}
