<!DOCTYPE html>
<html data-dpr="1" style="font-size: 54px;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link th:href="@{css/global_style.css}" rel="stylesheet">
    <link th:href="@{css/personal.css}" rel="stylesheet">
    <title>诚信经营承诺书</title>
</head>

<body class="col-b1" style="font-size: 12px;">
<div class="integrity wzdx_16 col-1">
    <img src="http://dddz.yiwowmall.com/Content/adlx/images/blog/01.jpg">
    <p>为推动社会信用体系建设,弘扬诚信传统美德,以守信激励和失信约束为经营理念,营造优良的信用环境和公平竞争、规范有序的市场环境,树立诚信经营的良好形象,争做诚信经营者。特作出以下诚信承诺:</p>
    <p>
        从自身做起,树立诚信,向假冒伪劣产品宣战,自觉接受相关部门的监督管理和接受广大消费者的监督。履行经营者的义务,保证经销的商品符合保障人身财产安全的要求和商品应当具有的质量和使用性能;不垄断货源、哄抬物价、强买强卖、欺行霸市、迫使他人接受不平等或不合法的交易条件;不掺杂使假、以假充真、以次充好;不销售有毒有害、失效、腐烂变质的食品和不合格的食品;不销售假冒伪劣产品;不作虚假宣传,不误导消费者。</p>
</div>

</body>
</html>