<!DOCTYPE html>
<html lang="en" style="font-size: 37.5px;" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<title>Title</title>
	<link th:href="@{/css/mui.min.css}"  rel="stylesheet" type="text/css">
</head>

<body>

<div class="mui-content">
	<div class="mui-input-row" style="background-color: white;margin-bottom: 5px;">
		<label>收货人姓名</label>
		<input th:value="${address.realName}" id="realName" type="text" placeholder="请输入收货人姓名">
	</div>

	<div class="mui-input-row" style="background-color: white;margin-bottom: 5px;">
		<label>手机号码</label>
		<input th:value="${address.telPhone}" id="telPhone" type="text" placeholder="请输入联系人电话">
	</div>

	<div class="mui-input-row" style="background-color: white;margin-bottom: 5px;">
		<label>省</label>
		<select id="province_select_id" >
			<option value="">请选择</option>
			<option th:each="temp,tempSta:${province}" th:value="${temp.id}" th:text="${temp.name}"></option>
		</select><b style="position: absolute; right: 5px; margin-top: .6em;">▼</b>
	</div>

	<div class="mui-input-row" style="background-color: white;margin-bottom: 5px;">
		<label>市</label>
		<select id="city_select_id" >
			<option value="">请选择</option>
			<option th:each="temp,tempSta:${city}" th:value="${temp.id}" th:text="${temp.name}"></option>
		</select>
		<b style="position: absolute; right: 5px; margin-top: .6em;">▼</b>
	</div>

	<div class="mui-input-row" style="background-color: white;margin-bottom: 5px;">
		<label>区</label>
		<select id="area_select_id"  >
			<option value="">请选择</option>
			<option th:each="temp,tempSta:${area}" th:value="${temp.id}" th:text="${temp.name}"></option>
		</select>
		<b style="position: absolute; right: 5px; margin-top: .6em;">▼</b>
	</div>

	<div class="mui-input-row" style="background-color: white;margin-bottom: 5px;">
		<label>详细地址</label>
		<textarea id="addressz_textarea_id" type="text" placeholder="请输入详细地址" th:text="${address.address}"></textarea>
	</div>

	<div style="text-align: center;margin-top: 20px;">
		<button id="save_address_id" style="width: 8.6rem;height: 1.6rem;background-color: rgba(225,85,22,1.00);color: white;">保存</button>
	</div>




</div>

</body>
<script th:src="@{/js/mui.min.js}" ></script>
<script type="text/javascript"  th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:inline="JavaScript">
    var old_province = [[${address.provinceId}]];
    var old_city = [[${address.cityId}]];
    var old_area = [[${address.areaId}]];
    var old_realName = [[${address.realName}]];
    var old_tel = [[${address.telPhone}]];
    var old_address = [[${address.address}]];
    var addressId = [[${address.id}]];
    $("#province_select_id").val(old_province);
    $("#city_select_id").val(old_city);
    $("#area_select_id").val(old_area);
    function  ajaxGetAreaByCityId(id) {
        $.ajax({
            url:"/showArea",
            type:"POST",
            data:{"id":id},
            dataType:"JSON",
            success:function(data){
                if(data.status == 200){
                    city_select_id
                    var option = "<option value=''>请选择</option>";
                    var city = data.resultMap.city;
                    $.each(city,function (i,n) {
                        var temp = "<option value='"+n.id+"'>"+n.name+"</option>";
                        option = option+temp ;
                    })
                    $("#area_select_id").html("");
                    $("#area_select_id").html(option);
                }
            }
        });
    }

    function  ajaxUpdateNewAddress(param) {

       var parmJson =JSON.parse("{"+param+"}");
        console.log(parmJson);
        $.ajax({
            url:"/updateAddress",
            type:"POST",
            data:parmJson,
            dataType:"JSON",
            success:function(data){
                if(data.status == 200){
                    mui.openWindow({
                        url:'/address'
                    });
                }
            }
        });
    }

    function  ajaxGetCityByProvinceId(id) {
        $.ajax({
            url:"/showCity",
            type:"POST",
            data:{"id":id},
            dataType:"JSON",
            success:function(data){
                if(data.status == 200){
                    city_select_id
                    var option = "<option value=''>请选择</option>";
                    var city = data.resultMap.city;
                    $.each(city,function (i,n) {
                        var temp = "<option value='"+n.id+"'>"+n.name+"</option>";
                        option = option+temp ;
                    })
                    $("#city_select_id").html("");
                    $("#city_select_id").html(option);
                }
            }
        });
    }

    function isNotEmpty(temp){
        var flag = false;
        if(temp != "" & temp != null & temp != undefined){
            flag =  true;
		}
		return flag;
	}

    function  ajaxGetCityByProvinceId(id) {
        $.ajax({
            url:"/showCity",
            type:"POST",
            data:{"id":id},
            dataType:"JSON",
            success:function(data){
                if(data.status == 200){
                    city_select_id
                    var option = "<option value=''>请选择</option>";
                    var city = data.resultMap.city;
                    $.each(city,function (i,n) {
                        var temp = "<option value='"+n.id+"'>"+n.name+"</option>";
                        option = option+temp ;
                    })
                    $("#city_select_id").html("");
                    $("#city_select_id").html(option);
                }
            }
        });
    }
    $(function() {



        $("#province_select_id").on('change',function () {
            var id = $(this).val();
            ajaxGetCityByProvinceId(id)
        })
        $("#city_select_id").on('change',function () {
            var id = $(this).val();
            ajaxGetAreaByCityId(id)
        })

        $("#save_address_id").on('tap',function () {
            var param ="";
            var realName = $("#realName").val();
            var telPhone = $("#telPhone").val();
            var provinceId = $("#province_select_id").val();
            var cityId = $("#city_select_id").val();
            var areaId = $("#area_select_id").val();
            var address = $("#addressz_textarea_id").val();
            if(isNotEmpty(realName)  & isNotEmpty(telPhone)  & isNotEmpty(provinceId) & isNotEmpty(cityId)){

                if(realName != old_realName ){
                    param =param+','+'"realName":'+'"'+realName+'"';
				}
                if(telPhone != old_tel ){
                    param =param+','+'"telPhone":'+'"'+telPhone+'"';
                }
                if(provinceId != old_province ){
                    param =param+','+'"provinceId":'+'"'+provinceId+'"';
                }
                if(cityId != old_city ){
                    param =param+','+'"cityId":'+'"'+cityId+'"';
                }
                if(areaId != old_area ){
                    param =param+','+'"areaId":'+'"'+areaId+'"';
                }
                if(address != old_address ){
                    param =param+','+'"address":'+'"'+address+'"';
                }
                if(param == ""){
                    mui.toast('没有发现变更项目',{ duration:'long', type:'div' });
				}else{
                    param = '"id":'+'"'+addressId+'"'+param;
                    ajaxUpdateNewAddress(param);
				}

            }else{
                mui.toast('请录入完整信息',{ duration:'long', type:'div' });
            }
        })

    });
</script>

</html>